-# locals: (user:)

.space-y-12
  %h2.mb-3 Emploi du temps
  = form_with model: @user, url: setting_path(@user), method: :patch, class: "flex gap-6" do |f|
    .flex.flex-col.gap-2
      = f.label "Heure de réveil"
      = f.text_field :wake_up_hour, data: {controller: "autosubmit", action: "blur->autosubmit#submit"}, class: "w-12"

    .flex.flex-col.gap-2
      = f.label "Heure de coucher"
      = f.text_field :sleep_hour, data: {controller: "autosubmit", action: "blur->autosubmit#submit"}, class: "w-12"

  .mt-8
    #title.mb-3
      %h2 Catégories
      %p Conseil : Evitez les catégories trop précises pour améliorer la visualiation des statistiques
    .columns-2
      - user.activity_categories.each do |category|
        .flex.items-center.gap-2
          - if category.protected?
            = text_field_tag nil, category.label, disabled: true
            %button{disabled: true, class: "text-gray-200"}
              = lucide_icon "trash-2", size: 16
          - else
            = form_with model: category, url: activity_category_path(category), class: "flex items-center gap-2" do |f|
              = f.text_field :label, data: {controller: "autosubmit", action: "blur->autosubmit#submit"}
            = button_to activity_category_path(category), method: :delete, data: {turbo_confirm: "Supprimer cette catégorie ?"}, class: "text-red-500 hover:text-red-700" do
              = lucide_icon "trash-2", size: 16

    .mt-4
      = form_with model: Activity::Category.new, url: activity_categories_path do |f|
        .flex.gap-2
          = f.text_field :label, placeholder: "Nouvelle catégorie"
          = f.submit "Ajouter"
