-# locals: (user:)

.space-y-12
  %h2.mb-1= t(".global")
  = form_with model: @user, url: setting_path(@user), method: :patch, class: "flex flex-wrap gap-8" do |f|
    .flex.flex-col.gap-1
      = f.label :locale
      = f.select :locale, options_for_select(I18n.available_locales.map { |l| [ t("languages.#{l}"), l ] }, @user.locale.presence || I18n.locale), {}, data: {controller: "autosubmit", action: "change->autosubmit#submit"}
  %h2.mb-1= t(".schedule")
  - hour_options = (0..23).map { |h| [ format_hour(h), h ] }
  = form_with model: @user, url: setting_path(@user), method: :patch, class: "flex flex-col items-start gap-8" do |f|

    .flex.flex-col.gap-1.items-start
      = f.label :activity_duration_in_minutes
      = f.select :activity_duration_in_minutes, options_for_select(User::Setupable::AVAILABLE_ACTIVITY_DURATIONS, f.object.activity_duration_in_minutes || User::Setupable::AVAILABLE_ACTIVITY_DURATIONS.last), {}, data: {controller: "autosubmit", action: "change->autosubmit#submit"}, class: "text-center"

    .flex.flex-col.gap-1.items-start
      = f.label :wake_up_hour
      = f.select :wake_up_hour, options_for_select(hour_options, @user.wake_up_hour), {}, data: {controller: "autosubmit", action: "change->autosubmit#submit"}, class: "text-center"

    .flex.flex-col.gap-1.items-start
      = f.label :sleep_hour
      = f.select :sleep_hour, options_for_select(hour_options, @user.sleep_hour), {}, data: {controller: "autosubmit", action: "change->autosubmit#submit"}, class: "text-center"


  .flex.justify-between.items-start.mb-1
    %h2= t(".categories")
  %p.font-normal.normal-case.mb-6{class: "text-text/60"}= t(".categories_hint")

  .flex.flex-col.gap-3.max-w-sm
    - user.activity_categories.order(:protected).each do |category|
      .flex.items-center.gap-3
        - if category.protected?
          = color_field_tag nil, category.color, disabled: true, class: "size-9 p-0! cursor-not-allowed opacity-40 border-0!"
          %span.font-bold.opacity-40= category.label
        - else
          = form_with model: category, url: activity_category_path(category), class: "flex items-center gap-3 flex-1" do |f|
            = f.color_field :color, data: {controller: "autosubmit", action: "change->autosubmit#submit"}, class: "size-9 p-0! cursor-pointer border-0!"
            = f.text_field :label, data: {controller: "autosubmit", action: "blur->autosubmit#submit"}, class: "flex-1"
          = button_to activity_category_path(category), method: :delete, data: {turbo_confirm: t(".delete_confirm")}, class: "p-0! text-red-600 hover:bg-transparent! hover:text-red-800!" do
            = lucide_icon "trash-2", class: "size-4"

  = form_with model: Activity::Category.new, url: activity_categories_path, class: "flex flex-col md:flex-row gap-3 md:items-center max-w-sm" do |f|
    .flex.gap-2
      = f.color_field :color, class: "size-9 p-0! cursor-pointer border-0! shrink-0"
      = f.text_field :label, placeholder: t(".new_category_placeholder"), class: "flex-1"
    = f.submit t(".add_category"), class: "bg-primary!"
