-# locals: (user:)

.space-y-12
  %h2.mb-1 Emploi du temps
  = form_with model: @user, url: setting_path(@user), method: :patch, class: "flex gap-8" do |f|
    .flex.flex-col.gap-1
      = f.label "Heure de réveil"
      .flex.items-baseline.gap-1
        = f.text_field :wake_up_hour, data: {controller: "autosubmit", action: "blur->autosubmit#submit"}, class: "w-16 text-2xl font-extrabold text-center"
        %span.font-bold h

    .flex.flex-col.gap-1
      = f.label "Heure de coucher"
      .flex.items-baseline.gap-1
        = f.text_field :sleep_hour, data: {controller: "autosubmit", action: "blur->autosubmit#submit"}, class: "w-16 text-2xl font-extrabold text-center"
        %span.font-bold h

  .flex.justify-between.items-start.mb-1
    %h2 Catégories
  %p.font-normal.normal-case.mb-6{class: "text-text/60"} Évitez les catégories trop précises pour de meilleures statistiques

  .flex.flex-col.gap-3.max-w-sm
    - user.activity_categories.order(:protected).each do |category|
      .flex.items-center.gap-3
        - if category.protected?
          = color_field_tag nil, category.color, disabled: true, class: "size-9 p-0! cursor-not-allowed opacity-40 border-0!"
          %span.font-bold.opacity-40= category.label
        - else
          = form_with model: category, url: activity_category_path(category), class: "flex items-center gap-3 flex-1" do |f|
            = f.color_field :color, data: {controller: "autosubmit", action: "change->autosubmit#submit"}, class: "size-9 p-0! cursor-pointer border-0!"
            = f.text_field :label, data: {controller: "autosubmit", action: "blur->autosubmit#submit"}, class: "flex-1"
          = button_to activity_category_path(category), method: :delete, data: {turbo_confirm: "Supprimer cette catégorie ?"}, class: "p-0! text-red-600 hover:bg-transparent! hover:text-red-800!" do
            = lucide_icon "trash-2", class: "size-4"

  .mt-6.pt-6.border-t-3{class: "border-text/20"}
    = form_with model: Activity::Category.new, url: activity_categories_path, class: "flex gap-3 items-center max-w-sm" do |f|
      = f.color_field :color, class: "size-9 p-0! cursor-pointer border-0! shrink-0"
      = f.text_field :label, placeholder: "Nouvelle catégorie", class: "flex-1"
      = f.submit "Ajouter", class: "bg-primary!"
