= content_for :title, "Calendrier"

.flex.flex-col.mb-12
  %h1 Calendrier
  - current_hour = DateTime.current.hour
  - current_minutes = DateTime.current.minute
  %span= "Prochain jour disponible dans #{23 - current_hour}h#{60-current_minutes} - heure du serveur : #{l(DateTime.current, format: "%Hh%M")}" 

.flex.gap-2.w-full.justify-between.items-center
  = link_to calendar_path(date: @date - 1.month) do
    = lucide_icon "arrow-left"
  = l(@date, format: "%B %Y", locale: :fr)
  = link_to calendar_path(date: @date + 1.month) do
    = lucide_icon "arrow-right"

.grid.grid-cols-7.gap-1.max-w-xl.mx-auto.mt-6
  %p.font-bold.opacity-50 lun
  %p.font-bold.opacity-50 mar
  %p.font-bold.opacity-50 mer
  %p.font-bold.opacity-50 jeu
  %p.font-bold.opacity-50 ven
  %p.font-bold.opacity-50 sam
  %p.font-bold.opacity-50 dim
  - @calendar.days.each do |day|
    = render "day", day: day