%h1.mb-12 Calendrier

.flex.gap-2.w-full.justify-between.items-center
  = link_to calendar_path(date: @date - 1.month) do
    = lucide_icon "arrow-left"
  = l(@date, format: "%B %Y")
  = link_to calendar_path(date: @date + 1.month) do
    = lucide_icon "arrow-right"

.grid.grid-cols-7.gap-1.max-w-md.mx-auto.mt-6
  %p.font-bold.opacity-50 lun
  %p.font-bold.opacity-50 mar
  %p.font-bold.opacity-50 mer
  %p.font-bold.opacity-50 jeu
  %p.font-bold.opacity-50 ven
  %p.font-bold.opacity-50 sam
  %p.font-bold.opacity-50 dim
  - @calendar.days.each do |day|
    = render "day", day: day