%h1.mb-12 Crédits

%main.space-y-4
  %p.flex.items-baseline.gap-1 
    = t(".developed_by")
    %a.unstyled.text-primary.underline.transition{href: "https://github.com/theiereman", target: "_blank"} Thomas Eyermann
    %span= lucide_icon "square-arrow-out-up-right", class: "text-primary size-3.5"

  %p.flex.items-baseline.gap-1
    = t(".contribute")
    %a.unstyled.text-primary.underline{href: "https://github.com/theiereman/time-tracker", target: "_blank"}= t(".project")
    %span= lucide_icon "square-arrow-out-up-right", class: "text-primary size-3.5"

  %p.flex.items-baseline.gap-1
    = t(".animated_icons_by")
    %a.unstyled.text-primary.underline{href: "https://lordicon.com/", target: "_blank"} Lordicon.com
    %span= lucide_icon "square-arrow-out-up-right", class: "text-primary size-3.5"

  %p.flex.items-baseline.gap-1
    = t(".icons_by")
    %a.unstyled.text-primary.underline{href: "https://lucide.dev", target: "_blank"} Lucide.dev
    %span= lucide_icon "square-arrow-out-up-right", class: "text-primary size-3.5"

%p.mt-12 © 2026 Dots & Circles. All rights reserved.

