.mb-10
  %h1= l(@date)
  %h2.flex.justify-between
    %span= "#{@activity.started_at.hour}h -> #{@activity.ended_at.hour}h"

  

.space-y-6
  .grid.grid-cols-2.gap-4.text-lg
    - @categories.each do |category|
      = form_for :activity, url: activities_path, method: :post, class: "border-5" do |form|
        = form.hidden_field :id, value: @activity&.id
        = form.hidden_field :activity_category_id, value: category.id
        = form.hidden_field :started_at, value: @activity.started_at
        = form.submit category.label, class: "size-full p-6!"

  .title
    %h2.mt-10.flex.justify-between Activités de la journée
    %span= @feed.remaining_activities_count(date: @date) > 0 ? "#{@feed.remaining_activities_count(date: @date)} activité(s) à renseigner" : "Toutes les activités du jour ont été renseignées"

  .md:columns-2.gap-2
    - @feed.slots.each do |slot|
      .flex.gap-6.justify-between.p-4.items-center.py-2.break-inside-avoid{class: "#{"text-text/50" unless slot.filled?} #{"bg-night/90 text-white" if slot.night} #{"bg-primary text-text!" if slot.hour == @activity.started_at.hour}"}
        .font-bold.text-nowrap.flex.gap-2
          %span= "#{slot.hour} h"
          - if slot.night
            = lucide_icon :moon 
          - else
            = lucide_icon :sun
        .flex.justify-between.text-xl{class: ("italic" unless slot.filled?)}
          %span= slot.label
        = link_to activities_path(datetime: DateTime.new(@date.year, @date.month, @date.day, slot.hour), activity_id: slot.activity&.id) do |form|
          = lucide_icon :edit