-# locals: (slot:, activity:, date:)

.flex.gap-6.justify-between.p-4.items-center.py-2{class: "#{"text-text/50" unless slot.filled?} #{"bg-primary text-text!" if slot.starts_at == activity.started_at}", style: (slot.starts_at == activity.started_at ? nil : "background-color: var(--color-night); opacity: 0.9; color: white;")}
  - unless slot.filled?
    .absolute.animate-pulse.size-2.rounded-full.bg-red-500{class: "-left-3.5"}
  .font-bold.text-nowrap.flex.gap-2
    %span= format_time(slot.starts_at)
    = lucide_icon :moon
  .flex.justify-between.items-center.md:text-xl{class: ("italic" unless slot.filled?)}
    %span= slot.label
  .flex.items-center.gap-1
    = link_to activities_path(datetime: slot.activity&.started_at || slot.starts_at, activity_id: slot.activity&.id), class: "p-2!" do
      = lucide_icon :edit
    = button_to activity_path(slot&.activity || 0), method: :delete, class: "p-2! text-red-600 #{"text-gray-200! hover:bg-transparent! cursor-default! pointer-events-none" if !slot.filled?}" do
      = lucide_icon "trash-2"
