!!!
%html
  %head= render "layouts/head"
  %body.h-screen.flex.flex-col.md:flex-row{data: {nav_index: current_nav_index}}
    = flash_toasts
    = turbo_frame_tag :modals
    .hidden.md:block= render "nav/sidebar"
    .w-full.overflow-y-scroll.flex-1.page-content
      .p-6.max-w-4xl.mx-auto
        = yield
    .md:hidden= render "nav/navbar"